<!-- <h1>Finance company</h1>
<a routerLink="/logincustomer" class="btn btn-warning"> Login for user</a>
<a routerLink="/registercustomer" class="btn btn-warning">Register</a>
<a routerLink="/loginadmin" class="btn btn-warning"> Login for admin</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="a1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Finance Company</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/logincustomer" href="#">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/loginadmin" href="#">Admin Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registercustomer" href="#">New user</a>
          </li>
         </ul>
          
      </div>
    </div>
  </nav>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" style="height: 600px;" alt="No Image">
      </div>
    </div>
  </div>