<!-- <a routerLink="/logincustomer" class="btn btn-warning"> Login for user</a>
<a routerLink="/registercustomer" class="btn btn-warning">Register</a>
<a routerLink="/loginadmin" class="btn btn-warning"> Login for admin</a>
<a routerLink="/home" class="btn btn-warning">Home</a>
<a routerLink="/deleteproduct" class="btn btn-warning" >Delete product</a>
<a routerLink="/payment" class="btn btn-warning" >Payment</a>
<a routerLink="/emi" class="btn btn-warning" >EMI</a>
<a routerLink="/userdash" class="btn btn-warning">User Dashboard</a>
<a routerLink="/addcard"  class="btn btn-warning">Add Card</a>
<a routerLink="/admindashboard"  class="btn btn-warning">admindashboard</a>
<app-login></app-login>
<a routerLink="/addproduct" class="btn btn-warning">Add Product</a>-->

 <router-outlet></router-outlet>  
 